.our-gallery{
    text-align: center;
    padding-top: 30px;
}
.our-gallery h2{
    color: #f9f9f9;
}

.our-gallery p{
    color: #68696c;
    font-size: 16px;
}

.fourth-button{
    text-decoration: none;
    color: #45474e;
    background-color: #f9f9f9;
    border-radius: 1px;
    padding: 12px 27px 12px 27px;
    font-size: 15px;
}
.boton-azul{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.fourth-part{
    background-color: #292c34;
}

.fourth-images{
    text-align: center;
}

.forth-images img+img{
    padding: 3px;
}

