.header{
    li{
        list-style: none;
    }a{
        text-decoration: none;
        color:#9c9c9c ;
        font-weight: bold;
        font-size: 10px;
    }
}

.header h2{
    color: #606060;
    font-size: 16px;
}

.titulo{
    padding: 28px 0px 28px 0px;
    float: left;
    color: #606060;
    font-weight: bold;
}
.lista{
    float: right;
    padding: 27px 0px 27px 0px;
}

.menu-lista li + li{
    margin-left: 22px;
}

.menu-lista li{
    float: left;
    font-size: 16px;
}