html{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.main-wrapper{
    margin: 0 auto;
    max-width: 600px;
    background-color: #eaeced;
}

.small-wrapper{
    margin: 0 auto;
    max-width: 800px;
}

.background-white{
    background-color: #f9f9f9;
    border-bottom: 36px solid #d1d9dd;
}

.first-part{
    padding-bottom: 80px;
}
.first-part h1{
    text-align: center;
}
.first-part p {
    text-align: center;
    margin-bottom: 32px;
}

.first-button{
    text-decoration: none;
    color: white;
    background-color: #7bb84f;
    border-radius: 1px;
    padding: 12px 27px 12px 27px;
    font-size: 15px;
}

.boton-verde-first{
    text-align: center;
}

.background-white2{
    background-color: #f9f9f9;
}

.second-part{
    padding-bottom: 80px;
}
.second-part h2{
    text-align: center;
    font-size: 30px;
}
.second-part p {
    text-align: center;
    margin-bottom: 32px;
}

.second-button{
    text-decoration: none;
    color: white;
    background-color: #f5ba1c;
    border-radius: 1px;
    padding: 12px 27px 12px 27px;
    font-size: 15px;
}

.boton-amarillo-second{
    text-align: center;
}

.background-white3{
    border-top: 36px solid #d1d9dd;
    padding-bottom: 60px;
}

.newsroom{
    text-align: center;
    padding-top: 30px;
}

.mock-book{
    float: left;
}
.contenido1{
    background-color: #0071bd;
    color: #f9f9f9;
    float: right;
    width: 240px;
    padding: 30px 20px 50px 40px;
    line-height:20px;
    font-size: 14px;
}

.contenido2{
    float: left;
    background-color: #a4d3f3;
    color:  #f9f9f9;
    width: 240px;
    padding: 25px 20px 50px 40px;
    line-height:20px;
    font-size: 14px;
    text-align: right;
}

.green-plant{
    float: right;
}
.contenido3{
    background-color: #333c4d;
    color: #f9f9f9;
    width: 240px;
    padding: 30px 20px 50px 40px;
    line-height:20px;
    font-size: 14px;
    text-align: left;
    float: right;
}
.open-book{
    float: left
}
.contenido4{
    background-color: #76b3dd;
    color: #f9f9f9;
    width: 240px;
    padding: 30px 20px 68px 40px;
    line-height:20px;
    font-size: 14px;
    text-align: right;
    float: left;
    margin-bottom: 30px ;
}

.boton-lightblue-third{
    text-align: center;
}
.third-button{
    text-decoration: none;
    color: white;
    background-color: #40aceb;
    border-radius: 1px;
    padding: 12px 27px 12px 27px;
    font-size: 15px;
}