.our-gallery{
    text-align: center;
    padding-top: 6%;
}
.our-gallery h2{
    color:$gray-color;;
}

.our-gallery p{
    color: #68696c;
    font-size: 1rem;
}

.fourth-button{
    @include ancords1;
    background-color:$gray-color;;
}

.fourth-images{
    max-width: 100%;
    width: 100%;
}

.fourth-images div{
    display: inline;
    max-width: 100%;
    width: 100%;
}

.boton-azul{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 7%;
}

.fourth-part{
    background-color: #292c34;
}

.fourth-images{
    text-align: $align;
}

.fourth-images img+img{
    padding: 0.5%;
}

.fourth-part{
    margin-top: 3.64%;
}

.fifth-part{
    margin-top: 6%;
    background-color: $gray-color;;
    padding-bottom: 13%;
}

.fifththpart-2{
    text-align: $align;
    padding-top: 6%;
}
.footer-pink{
    text-align: $align;
}
.fifththpart-2 p{
    color:$black-gray-color ;
    margin-bottom: 8%
}

.footer-pink a{
    text-decoration: none;
    color: white;
    background-color: #e02d74;
    border-radius: 1px;
    padding: 18px 32px 18px 32px;
    font-size: 0.937rem;
}

.footer-p{
    color:$black-gray-color ;
    float: $float-L;
}

.footer-p a {
    color: $black-gray-color;
}

.footer-images{
    float: $float-R;
    padding-top: 2.5%;
}
