.lista{
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color:#9c9c9c ;
        font-weight: bold;
        font-size: 1rem ;
    }
}

.header h2{
    color: $dark-gray-color;
    font-size: 1rem;
}

.titulo{
    padding: 5% 0px 5% 0px;
    float: $float-L;
    color:$dark-gray-color;
    font-weight: bold;
}
.lista{
    float: $float-R;
    padding: 6% 0px 4.5% 0px;
}

.menu-lista li + li{
    margin-left: 22px;
}

.menu-lista li{
    float: $float-L;
    font-size: 1rem;
}

/*medida actual/widthpadre*100*/