.background-white{
    background-color: $gray-color;
    margin-bottom: 35px;
}

.background-white3 img {
    display: block;
}

.first-part{
    padding-bottom: 80px;
}
.first-part h1{
    text-align: $align;
}
.first-part p {
    text-align: $align;
    margin-bottom: 32px;
}

.first-button{
    @include ancords;
    background-color: #7bb84f;
}

.boton-verde-first{
    text-align: $align;
}

.background-white2{
    background-color: $gray-color;;
}

.second-part{
    padding-bottom: 80px;
    background-color: #f9f9f9;
    margin-bottom: 35px;
}
.second-part h2{
    text-align: $align;
    font-size: 1.875rem;
}
.second-part p {
    text-align: $align;
    margin-bottom: 32px;
}

.second-button{
    @include ancords;
    background-color: #f5ba1c;
}

.boton-amarillo-second{
    text-align: $align;
}

.background-white3{
    background-color: #f9f9f9;
    padding-bottom: 60px;
}

.newsroom{
    text-align: $align;
    padding-top: 30px;
}

.mock-book{
    float: $float-L;
}
.contenido1{
    background-color: #0071bd;
    color: $gray-color;;
    float: $float-R;
    width: $width-content;
    padding: 30px 20px 50px 40px;
    line-height:20px;
    font-size: 0.875rem;
}

.contenido2{
    float: $float-L;
    background-color: #a4d3f3;
    color: $gray-color;;
    width: $width-content;
    padding: 25px 20px 50px 40px;
    line-height:20px;
    font-size: 0.875rem;
    text-align: $float-R;
}

.green-plant{
    float: $float-R;
}
.contenido3{
    background-color: #333c4d;
    color: $gray-color;;
    width: $width-content;
    padding: 30px 20px 50px 40px;
    line-height:20px;
    font-size: 0.875rem;
    text-align: $float-L;
    float: $float-R;
}
.open-book{
    float: $float-L
}
.contenido4{
    background-color: #76b3dd;
    color: $gray-color;;
    width: $width-content;
    padding: 30px 20px 71px 40px;
    line-height:20px;
    font-size: 0.875rem;
    text-align: $float-R;
    float: $float-L;
    margin-bottom: 30px ;
}

.boton-lightblue-third{
    text-align: $align;
}
.third-button{
    @include ancords;
    background-color: #40aceb;

}