.background-white{
    background-color: $gray-color;
    margin-bottom: 35px;
}

.background-white3 img {
    display: block;
}

.first-part img{
    max-width: 100%;
    width: 100%;
}
.first-part{
    padding-bottom: 13%;
}
.first-part h1{
    text-align: $align;
}
.first-part p {
    text-align: $align;
    margin-bottom: 5%;
}

.first-button{
    @include ancords;
    background-color: #7bb84f;
}

.boton-verde-first{
    text-align: $align;
}

.background-white2{
    background-color: $gray-color;;
}

.second-part img{
    max-width: 100%;
    width: 100%;
}
.second-part{
    padding-bottom: 13%;
    background-color: #f9f9f9;
    margin-bottom: 6%;
}
.second-part h2{
    text-align: $align;
    font-size: 1.875rem;
}
.second-part p {
    text-align: $align;
    margin-bottom: 6%;
}

.second-button{
    @include ancords;
    background-color: #f5ba1c;
}

.boton-amarillo-second{
    text-align: $align;
}

.background-white3{
    background-color: #f9f9f9;
    padding-bottom: 10%;
}

.newsroom{
    text-align: $align;
    padding-top: 5%;
}

.contenido1{
    background-color: #0071bd;
    color: $gray-color;;
    padding: 30px 20px 50px 40px;   /*30px = 5* 8% = 50px 3.33 = 20px 40px = */
    line-height:1.25rem;
    font-size: 0.875rem;
    margin-left: 300px;
}

.contenido2{
    background-color: #a4d3f3;
    color: $gray-color;;
    padding: 25px 20px 50px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: $float-R;
}


.contenido3{
    background-color: #333c4d;
    color: $gray-color;;
    padding: 30px 20px 50px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: $float-L;
    margin-left: 300px;
}
.open-book{
    float: $float-L;
    margin-bottom: 30px;
}
.contenido4{
    background-color: #76b3dd;
    color: $gray-color;;
    padding: 30px 20px 91px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: $float-R;
    margin-bottom: 30px ;
}

.boton-lightblue-third {
    text-align: $align;
}

.third-button  {
    @include ancords;
    background-color: #40aceb;
}

.Menu-t-p{
    display: none;
    width: 34px;
}


.third-part img{
    max-width: 100%;
}

.part-1{
    float: left;
}
